*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}
 
main div{
    font-size: 1.6rem;
}

p{
    font-size: 1.6rem;
}

:root{
    --grey:#222222;
    --sm: 2rem;
    --md: 2.5rem;
    --lg: 3rem;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--grey);
    font-size: var(--sm);
    align-items: center;
    width: 100%;
    height: 10rem;
    padding-left: 3rem;
    padding-right: 3rem;
    text-decoration: none;
}

header ul{
    display: flex;
    padding: auto;
    list-style: none;
    flex-flow: row wrap;
}

header ul a{
    text-decoration: none;
    color: white;
    margin-right: 1rem;
}

.container{
    height: 52rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.titulo{
    font-size: var(--md);
    color: red; 
}
.c1{
    display: flex;
    background-image: url('/img/delivery.jpg');
    height: 35.1rem;
    width: 43rem;
    padding: 2rem 2rem;
}

.c1 span{
    color: white;
    font-size: var(--md);
    margin: 0 0.5rem;
}

.c2{
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    height: 35.1rem;
    width: 43rem;
    padding: 2rem 2rem;
    box-shadow: 0.5px 0.5px grey;}

.s1{
    justify-content: top;
    text-align: center;
    margin-bottom: 5rem;
}

.s2{
    padding-left: 3rem;
    display: flex;
}
.s2 ol li{
    font-size: var(--sm);
    margin-top: 0.4rem;
}
.lista-pizzas{
    margin-right: 5rem;
}

.sub-title{
    margin-bottom: 1.5rem;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--grey);
    font-size: var(--sm);
    align-items: center;
    width: 100%;
    height: 16rem;
    padding: 1rem; 
    padding-left: 3rem;
    text-decoration: none;
}

footer ul{
    display: flex;
    padding: auto;
    list-style: none;
    flex-flow: row wrap;
    flex-direction: column;
    
}

footer ul a{
    text-decoration: none;
    color: white;
    align-self: top;
    margin-top: 2rem;
}

@media(max-width: 640px){
    .container{
        flex-direction: column;
    }

    header logo{
        display: block;
    }
    header ul{
       flex-direction: column;
       justify-items: start;
    }
}